body{
  background-image: url('./images/Background.png')
}

.Links{
  color: #51240f;
  text-decoration: underline;
  margin-right: 2%;
}

.rating-system{
  display:flex;
}

.form-styling{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 700px;
  height: 300px;
}